.Display {
    display: flex;
    flex-direction: row;
    height:280px;
    width:285px;
    background-color: #d8dced;
    margin:auto;
    border-style: solid;
}

.LeftPane {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    background-color: aqua;
}

.RightPane {
    height: 100%;
    width: 50%;
    background-color: aquamarine;
}
.RightPane img{
    height: 100%;
    width: 100%;
}

.LeftPane div {
    text-align: center;
    height: 25%;
}

.active {
    background-color: azure;
}

.cover {
    position: relative;
    margin: auto;
}

.cover p{
    text-align: center;
    font-size: xx-large;
}